.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

#header-items ul{
    list-style:none;
}

#header-items li{
    display:inline-block;
}
#header-link:hover{
    background-color: blue;
    padding: 10px 5px;
}
#header-link-item a{
    text-decoration: none;
    color: inherit;
}