.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }

#header-items ul{
    list-style:none;
}

#header-items li{
    display:inline-block;
}
#header-link:hover{
    background-color: blue;
    padding: 10px 5px;
}
#header-link-item a{
    text-decoration: none;
    color:inherit;
}